/*header*/

body {
  width: 100%;
  overflow-x: hidden;
}

header .row {
  margin-right: 0;
  margin-left: 0;
}

.breadcrumb {
  background: #54747f !important;
  border-radius: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.breadcrumb li a {
  color: white;
}

li.breadcrumb-item {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .row {
  margin-right: 0;
  margin-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

/*Header Dropdown*/
button#dropdownMenuButton {
  background: none;
}

.breadcrumb li a.dropdown-item {
  color: #59747f;
}

/*Jumbotorn*/

.jumbotorn {
  padding: 0;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  padding: 0;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: calc(100vh);
}

.imgz div {
  background: red;
  position: absolute;
  top: 0;
  width: 500%;
  height: 500%;
  left: 0;
  background: #4f677188;
}

.carousel-control-prev {
  justify-content: flex-start;
  padding: 0 10px;
}

.carousel-control-next {
  justify-content: flex-end;
  padding: 0 10px;
}

.jumbotron-content {
  position: absolute;
  bottom: calc(200px);
  left: calc(50% - 250px);
  z-index: 200;
  width: 500px;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.jumbotron-content > * {
  margin-bottom: 20px;
}

.jumbotron-content button {
  width: 200px;
  align-self: center;
  margin-top: 30px;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* badge*/

.bagian-badge {
}

.column-badge {
  padding: 10px;
  box-sizing: border-box;
}

/*button*/

.btn-outline-light {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

/**/

.jumbotron-2 {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #59747f;
  border-radius: 0;
}

/*Mansory*/

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: calc(25% - 10px);
  margin-top: 10px;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/* Table */

#tbody tr {
  cursor: pointer;
}

.mereng-mereng {
  padding: 200px 20px;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  background-image: url("img/bg.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh );
}

.bg-fog {
  background: #54747faa;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.isi {
  z-index: 100;
}

.img-png {
  width: 300px;
}

/* label tabel */

.label-team {
  text-transform: capitalize;
}
